body {
    background: lightblue;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
}

.testgrid {
    display: grid;
    grid-template-columns: auto auto;
}